<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality & Weather</title>
</head>
<body>
    <h1>Welcome to this Air Quality & Weather Information Website</h1>
    <p>This website allows one to get current air quality and weather information about a specific place</p>
    <p>The website employs the <a href="https://www.iqair.com/commercial-air-quality-monitors/api"
        target="_blank">IQAir API</a></p>

    <form action="/getWeather" method="post">
        <input type="text" name="country" placeholder="Enter Country..."><br>
        <input type="text" name="state" placeholder="Enter State..."><br>
        <input type="text" name="city" placeholder="Enter City..."><br><br>
        <input type="submit" value="Submit"><br><br>
    </form>

    <div>
        <form method="get">
            <input type="submit" name="page" value="Country List" formaction="/country">
            <input type="submit" name="page" value="State List" formaction="/state">
            <input type="submit" name="page" value="City List" formaction="/city">
        </form>
    </div>

    <% if (locals.cList){ %>
        <h2>These are the supported countries:</h2>
        <% for (var i = 0; i < cList.length; i++){ %>
            <p><%= cList[i].country %></p>
        <% } %>
    <% } %>

    <% if (locals.err){ %>
        <p><%= err %></p>
    <% } %>

    <% if (locals.getStateList){ %>
        <form action="/getStates" method="post">
            <br><br><input type="text" name="chosenCountry" placeholder="Enter Country...">
            <input type="submit" value="Submit">
        </form>
    <% } %>

    <% if (locals.sList){ %>
        <h2>These are the supported states in <%= countryName %>:</h2>
        <% for (var i = 0; i < sList.length; i++){ %>
            <p><%= sList[i].state %></p>
        <% } %>
    <% } %>

    <% if (locals.getCityList){ %>
        <form action="/getCities" method="post">
            <br><br><input type="text" name="chosenCountry" placeholder="Enter Country...">
            <input type="text" name="chosenState" placeholder="Enter State...">
            <input type="submit" value="Submit">
        </form>
    <% } %>

    <% if (locals.ctList){ %>
        <h2>These are the supported cities in <%= stateName %>, <%= countryName %>:</h2>
        <% for (var i = 0; i < ctList.length; i++){ %>
            <p><%= ctList[i].city %></p>
        <% } %>
    <% } %>

    <% if (locals.wthData){ %>
        <h2>These is the weather data for <%= cityName %></h2>
        <p>City: <%= wthData.city %></p>
        <p>Country: <%= wthData.country %></p>
        <p>Weather</p>
        <p>Timestamp: <%= wthData.current.weather.ts %></p>
        <p>Temperature(Celsius): <%= wthData.current.weather.tp %></p>
        <p>Humidity: <%= wthData.current.weather.hu %></p>
        <p>Wind Speed(m/s): <%= wthData.current.weather.ws %></p>
        <p>Summarized description: <%= icon %></p>
        <p>Pollution</p>
        <p>Timestamp: <%= wthData.current.pollution.ts %></p>
        <p>AQI value based on US EPA standard: <%= wthData.current.pollution.aqius %></p>
        <p>AQI value based on China MEP standard: <%= wthData.current.pollution.aqicn %></p>
    <% } %>
</body>
</html>